Source: ausias-printers
Section: admin
Priority: optional
Maintainer: Luis Antonio Garcia Gisbert <luisgg@gmail.com>
Build-Depends: debhelper (>= 7.0)
Standards-Version: 3.9.3

Package: ausias-printers-centro
Architecture: all
Depends: ${misc:Depends}, openprinting-ppds, aurex-lpadmin, ausias-papercut-client
Description: CIPFP Ausias March intranet printer configuration
 This package installs and configures network printers of
 CIPFP Ausias March intranet.

Package: ausias-printers-depinf
Architecture: all
Depends: ${misc:Depends}, konica-minolta-ppds (>=0.3), aurex-lpadmin, ausias-papercut-client
Description: CIPFP Ausias March intranet printer configuration
 This package installs and configures specific network printers of
 'Departamento de Informatica' in CIPFP Ausias March intranet.

Package: ausias-printers-fol
Architecture: all
Depends: ${misc:Depends}, konica-minolta-ppds (>=0.3), aurex-lpadmin, ausias-papercut-client
Description: CIPFP Ausias March intranet printer configuration
 This package installs and configures specific network printers of
 'Fol' in CIPFP Ausias March intranet.

Package: ausias-printers-secretaria
Architecture: all
Depends: ${misc:Depends}, konica-minolta-ppds (>=0.3), openprinting-ppds, aurex-lpadmin, ausias-papercut-client
Description: CIPFP Ausias March intranet printer configuration
 This package installs and configures specific network printers of
 'Secretaria' in CIPFP Ausias March intranet.

Package: ausias-printers-orientacio
Architecture: all
Depends: ${misc:Depends}, konica-minolta-ppds (>=0.3), aurex-lpadmin, ausias-papercut-client
Description: CIPFP Ausias March intranet printer configuration
 This package installs and configures specific network printers of
 'Orientacio' in CIPFP Ausias March intranet.

Package: ausias-printers-tic
Architecture: all
Depends: ${misc:Depends}, konica-minolta-ppds (>=0.3), aurex-lpadmin, ausias-papercut-client
Description: CIPFP Ausias March intranet printer configuration
 This package installs and configures specific network printers of
 'TIC' in CIPFP Ausias March intranet.

Package: ausias-printers-borsa-treball
Architecture: all
Depends: ${misc:Depends}, konica-minolta-ppds (>=0.3), aurex-lpadmin, ausias-papercut-client
Description: CIPFP Ausias March intranet printer configuration
 This package installs and configures specific network printers of
 'Borsa de Treball' in CIPFP Ausias March intranet.

Package: ausias-printers-biblioteca
Architecture: all
Depends: ${misc:Depends}, konica-minolta-ppds (>=0.3), aurex-lpadmin, ausias-papercut-client
Description: CIPFP Ausias March intranet printer configuration
 This package installs and configures specific network printers of
 'Biblioteca' in CIPFP Ausias March intranet.

Package: ausias-printers-caporalia
Architecture: all
Depends: ${misc:Depends}, konica-minolta-ppds (>=0.3), aurex-lpadmin, ausias-papercut-client
Description: CIPFP Ausias March intranet printer configuration
 This package installs and configures specific network printers of
 'Caporalia Estudis' in CIPFP Ausias March intranet.

Package: ausias-pdf-printer
Architecture: all
Depends: ${misc:Depends}, datastore-client, aurex-lpadmin, yad, cups-pdf, aurex-transmute, cups-daemon, aurex-lpadmin
Description: Generate PDFs shared with CIPFP Ausias March conserjeria
 The package installs and configures a custom cups-pdf printer that
 stores generated PDF files in a shared network location, to make them
 available to conserjeria staff of the CIPFP Ausias March (and thus
 facilitating later printing)
